/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
     color: black;
    background-image: url(../images/Zodiac2.jpg); /* added a ../path to background as images is the parent of current directory Zodiac.png */
    /* Edit by Crystal- I was playing around with the background images I added some to the images folder. You can change it back if you want to or choose a different image */
   }
 
  input,
     textarea {
     width: 100%;
     padding: 5px;
     outline: none;
   }
 
   label {
     line-height: 1.9rem;
   }
 
   input[type="submit"] {
    transform: translate(2.2%);
    padding: 3px;
    margin-top: 0.6rem;
    font-family: cursive;
    font-weight: bold;
   }
 
  fieldset {
    padding: 20px 40px;
  }
  #zodiac {
    background: white;
    opacity: 0.8;
  }





/******************************************
/* LAYOUT
/*******************************************/
/*header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
